#register {
    #register-section {
        .rs-container {
            display: flex;

            .rscc1 {
                background-image: url("@/assets/images/bg-left.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                min-height: 100vh;
            }

            .rscc2 {
                display: flex;
                align-items: center;

                .rscc2-main {
                    width: 750px;
                    margin: 0 auto;

                    h1 {
                        font-size: 24px;
                        font-weight: 800;
                        color: #393939;
                        margin-bottom: 20px;
                    }

                    .sc-btn {
                        width: 100%;
                        font-size: 17px;
                        padding: 12px;
                        margin-top: 20px;
                        margin-bottom: 30px;
                    }

                    p {
                        text-align: center;
                        color: var(--main-black);
                        font-size: 17px;
                        font-weight: 500;

                        span {
                            color: #F54A00;
                            font-weight: 800;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}