################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Back-end/FDSSYSTEM/.vs
/Back-end/FDSSYSTEM/FDSSYSTEM/bin
/Back-end/FDSSYSTEM/FDSSYSTEM/obj
