#admin-login {
    .login-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        position: relative;
        overflow: hidden;
        background: linear-gradient(135deg, #1e1e80, #6a11cb);

        // Hiệu ứng tam giác nhẹ nhàng
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            pointer-events: none;
            background: linear-gradient(
                -45deg,
                rgba(255, 255, 255, 0.15) 15%,
                transparent 15%,
                transparent 50%,
                rgba(255, 255, 255, 0.1) 50%,
                rgba(255, 255, 255, 0.15) 65%,
                transparent 65%
            );
            background-size: 250px 250px;
            opacity: 0.2;
        }

        .login-card {
            display: flex;
            max-width: 800px;
            width: 90%;
            background: rgba(255, 255, 255, 0.95);
            border-radius: 16px;
            box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
            overflow: hidden;
            z-index: 2;
        }

        .login-left,
        .login-right {
            flex: 1;
            padding: 40px;
        }

        .login-left {
            border-right: 1px solid #ddd;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .login-title {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .form {
            .form-input:focus {
                outline: none;
                border: 1px solid #6a11cb !important;
            }

            .sc-btn {
                width: 100%;
                padding: 10px 30px;
                background: linear-gradient(135deg, #1e1e80, #6a11cb);
            }
        }

        .login-right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }

        .system-title {
            font-size: 18px;
            font-weight: bold;
        }

        .system-description {
            font-size: 14px;
            margin-top: 10px;
            color: #555;
        }
    }
}
